.people {
    display: flex;
    flex-wrap: wrap;
}
header {
    text-align: center;
}

.French{
    display: flex;
    flex-wrap: wrap;
}

.Foren {
    background-color: lightblue;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
